body {
    font-family: "Outfit";
    background-color: hsl(331, 64%, 91%);
    color: hsl(24, 5%, 18%);
}

.prep {
    background-color: hsl(331, 64%, 91%);
    margin: 15px;
    border-radius: 10px;
}

.prep h3 {
    color: hsl(332, 51%, 32%);
}

.container {
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 500px;
    border-radius: 10px;
    margin: auto;
}

img {
    width: 460px;
    margin: 20px auto;
    border-radius: 10px;
}

p {
    text-align: start;
    margin: 15px;
}

li {
    text-align: start;
    margin: 15px;
}

h3 {
    color: hsl(14, 45%, 36%);
}

div hr {
    width: 70%;
}

.diferente hr {
    width: 100%;
}
